header {
    display: flex;
    background-color: seashell;
    justify-content: space-between;
    align-items : center;
    height: 10vh;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 0cm;
    padding-right: 1.5cm;
}

li {
    margin-left: 5%;
}

body * {
    box-sizing: border-box;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0cm;
}

h1 {
    display: flex;
    margin: 0cm;
    padding-left: 2%;
    align-items : center;
}

section h2 h4{
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 600;
}

section {
    margin: 10px;
    border: solid 1px #CCC;
    width: 33vw;
    padding-bottom: 20px;
}

section h2, section p, section button, section h4{
    margin-left: 20px;
    margin-right: 20px;
}

section img {
    width: 100%;
}

#address {
    padding-bottom: 2%;
}
